 eureka:
     client:
         serviceUrl:
             defaultZone: http://192.168.101.70:8761/eureka/
     instance:
         prefer-ip-address: true
 server:
     port: 8763
 spring:
     application:
         name: customer-service
 feign:
     hystrix:
         enabled: true